body, textarea, input {
    font-family: 'Josefin Sans', sans-serif!important;
}

ul {
    width: 100%;
}
strike {
    cursor: pointer;
}

.tabs .tab a {
    text-transform: capitalize;
    padding: 0;
}

.tab a .badge {
    position: relative;
    top: 12px;
    margin:0;
    padding: 0;
    color: #222!important;
}

.tabs .tab a  {
    color: #555!important;
}

.tabs .tab a.active,
.tabs .tab a:hover,
.tabs .tab a:focus.active
{
    font-weight: 500;
    color: #000!important;
}

li.indicator {
    background-color: #000!important
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {

    background-color: #00000050!important;
}

textarea:focus:not([readonly]), 
input[type=text]:not(.browser-default):focus:not([readonly]) {
    box-shadow:#000 0px 1px 0px 0px!important;
    border-bottom: 1px solid #000!important;
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-bottom-color: #000!important;
    border-right-color: #000!important;
}

[type="checkbox"]:not(:checked) + span:not(.lever):before, 
[type="checkbox"]:not(:checked) + span:not(.lever):after {
    border-radius: 5px;
}

.content {
    word-wrap: break-word!important;
    word-break: normal!important;
}
